
*.ide
*.dll
*.pdb
*.config
*.exe
*.txt
*.ide
Cooperativa/Business/obj/Debug/Business.csprojResolveAssemblyReference.cache

*.resources
Cooperativa/AppProcesos/bin/Debug/AppProcesos.*
Cooperativa/AppProcesos/bin/Debug/Business.*
Cooperativa/AppProcesos/bin/Debug/Controles.*
Cooperativa/AppProcesos/bin/Debug/Cooperativa.*
Cooperativa/AppProcesos/bin/Debug/FormsAuxiliares.*
Cooperativa/AppProcesos/bin/Debug/gesBilling.*
Cooperativa/AppProcesos/bin/Debug/gesRoles.*
Cooperativa/AppProcesos/bin/Debug/Implement.*
Cooperativa/AppProcesos/bin/Debug/Model.*
Cooperativa/AppProcesos/bin/Debug/service.*
Cooperativa/AppProcesos/bin/Debug/UI.*
Cooperativa/AppProcesos/bin/Debug/*.cache
Cooperativa/AppProcesos/obj/Debug/AppProcesos.*
Cooperativa/AppProcesos/obj/Debug/Business.*
Cooperativa/AppProcesos/obj/Debug/Controles.*
Cooperativa/AppProcesos/obj/Debug/Cooperativa.*
Cooperativa/AppProcesos/obj/Debug/FormsAuxiliares.*
Cooperativa/AppProcesos/obj/Debug/gesBilling.*
Cooperativa/AppProcesos/obj/Debug/gesRoles.*
Cooperativa/AppProcesos/obj/Debug/Implement.*
Cooperativa/AppProcesos/obj/Debug/Model.*
Cooperativa/AppProcesos/obj/Debug/service.*
Cooperativa/AppProcesos/obj/Debug/UI.*
Cooperativa/AppProcesos/obj/Debug/*.cache
Cooperativa/Business/bin/Debug/*.dll
Cooperativa/Business/bin/Debug/*.pdb
Cooperativa/Business/bin/Debug/AppProcesos.*
Cooperativa/Business/bin/Debug/Business.*
Cooperativa/Business/bin/Debug/Controles.*
Cooperativa/Business/bin/Debug/Cooperativa.*
Cooperativa/Business/bin/Debug/FormsAuxiliares.*
Cooperativa/Business/bin/Debug/gesBilling.*
Cooperativa/Business/bin/Debug/gesRoles.*
Cooperativa/Business/bin/Debug/Implement.*
Cooperativa/Business/bin/Debug/Model.*
Cooperativa/Business/bin/Debug/service.*
Cooperativa/Business/bin/Debug/UI.*
Cooperativa/Business/bin/Debug/*.cache
Cooperativa/Business/obj/Debug/AppProcesos.*
Cooperativa/Business/obj/Debug/Controles.*
Cooperativa/Business/obj/Debug/Business.*
Cooperativa/Business/obj/Debug/Cooperativa.*
Cooperativa/Business/obj/Debug/FormsAuxiliares.*
Cooperativa/Business/obj/Debug/gesBilling.*
Cooperativa/Business/obj/Debug/gesRoles.*
Cooperativa/Business/obj/Debug/Implement.*
Cooperativa/Business/obj/Debug/Model.*
Cooperativa/Business/obj/Debug/service.*
Cooperativa/Business/obj/Debug/UI.*
Cooperativa/Business/obj/Debug/*.cache
Cooperativa/Controles/bin/Debug/AppProcesos.*
Cooperativa/Controles/bin/Debug/Business.*
Cooperativa/Controles/bin/Debug/Controles.*
Cooperativa/Controles/bin/Debug/Cooperativa.*
Cooperativa/Controles/bin/Debug/FormsAuxiliares.*
Cooperativa/Controles/bin/Debug/gesBilling.*
Cooperativa/Controles/bin/Debug/gesRoles.*
Cooperativa/Controles/bin/Debug/Implement.*
Cooperativa/Controles/bin/Debug/Model.*
Cooperativa/Controles/bin/Debug/service.*
Cooperativa/Controles/bin/Debug/UI.*
Cooperativa/Controles/bin/Debug/*.cache
Cooperativa/Controles/obj/Debug/AppProcesos.*
Cooperativa/Controles/obj/Debug/Business.*
Cooperativa/Controles/obj/Debug/Controles.*
Cooperativa/Controles/obj/Debug/Cooperativa.*
Cooperativa/Controles/obj/Debug/FormsAuxiliares.*
Cooperativa/Controles/obj/Debug/gesBilling.*
Cooperativa/Controles/obj/Debug/gesRoles.*
Cooperativa/Controles/obj/Debug/Implement.*
Cooperativa/Controles/obj/Debug/Model.*
Cooperativa/Controles/obj/Debug/service.*
Cooperativa/Controles/obj/Debug/UI.*
Cooperativa/Controles/obj/Debug/*.cache
Cooperativa/Cooperativa/bin/Debug/AppProcesos.*
Cooperativa/Cooperativa/bin/Debug/Business.*
Cooperativa/Cooperativa/bin/Debug/Controles.*
Cooperativa/Cooperativa/bin/Debug/Cooperativa.*
Cooperativa/Cooperativa/bin/Debug/FormsAuxiliares.*
Cooperativa/Cooperativa/bin/Debug/gesBilling.*
Cooperativa/Cooperativa/bin/Debug/gesRoles.*
Cooperativa/Cooperativa/bin/Debug/Implement.*
Cooperativa/Cooperativa/bin/Debug/Model.*
Cooperativa/Cooperativa/bin/Debug/service.*
Cooperativa/Cooperativa/bin/Debug/UI.*
Cooperativa/Cooperativa/bin/Debug/*.cache
Cooperativa/Cooperativa/obj/Debug/AppProcesos.*
Cooperativa/Cooperativa/obj/Debug/Business.*
Cooperativa/Cooperativa/obj/Debug/Controles.*
Cooperativa/Cooperativa/obj/Debug/Cooperativa.*
Cooperativa/Cooperativa/obj/Debug/FormsAuxiliares.*
Cooperativa/Cooperativa/obj/Debug/gesBilling.*
Cooperativa/Cooperativa/obj/Debug/gesRoles.*
Cooperativa/Cooperativa/obj/Debug/Implement.*
Cooperativa/Cooperativa/obj/Debug/Model.*
Cooperativa/Cooperativa/obj/Debug/service.*
Cooperativa/Cooperativa/obj/Debug/UI.*
Cooperativa/Cooperativa/obj/Debug/*.cache
Cooperativa/FormsAuxiliares/bin/Debug/AppProcesos.*
Cooperativa/FormsAuxiliares/bin/Debug/Business.*
Cooperativa/FormsAuxiliares/bin/Debug/Controles.*
Cooperativa/FormsAuxiliares/bin/Debug/Cooperativa.*
Cooperativa/FormsAuxiliares/bin/Debug/FormsAuxiliares.*
Cooperativa/FormsAuxiliares/bin/Debug/gesBilling.*
Cooperativa/FormsAuxiliares/bin/Debug/gesRoles.*
Cooperativa/FormsAuxiliares/bin/Debug/Implement.*
Cooperativa/FormsAuxiliares/bin/Debug/Model.*
Cooperativa/FormsAuxiliares/bin/Debug/service.*
Cooperativa/FormsAuxiliares/bin/Debug/UI.*
Cooperativa/FormsAuxiliares/bin/Debug/*.cache
Cooperativa/FormsAuxiliares/obj/Debug/AppProcesos.*
Cooperativa/FormsAuxiliares/obj/Debug/Business.*
Cooperativa/FormsAuxiliares/obj/Debug/Controles.*
Cooperativa/FormsAuxiliares/obj/Debug/Cooperativa.*
Cooperativa/FormsAuxiliares/obj/Debug/FormsAuxiliares.*
Cooperativa/FormsAuxiliares/obj/Debug/gesBilling.*
Cooperativa/FormsAuxiliares/obj/Debug/gesRoles.*
Cooperativa/FormsAuxiliares/obj/Debug/Implement.*
Cooperativa/FormsAuxiliares/obj/Debug/Model.*
Cooperativa/FormsAuxiliares/obj/Debug/service.*
Cooperativa/FormsAuxiliares/obj/Debug/UI.*
Cooperativa/FormsAuxiliares/obj/Debug/*.cache
Cooperativa/gesBilling/bin/Debug/AppProcesos.*
Cooperativa/gesBilling/bin/Debug/Business.*
Cooperativa/gesBilling/bin/Debug/Controles.*
Cooperativa/gesBilling/bin/Debug/Cooperativa.*
Cooperativa/gesBilling/bin/Debug/FormsAuxiliares.*
Cooperativa/gesBilling/bin/Debug/gesBilling.*
Cooperativa/gesBilling/bin/Debug/gesRoles.*
Cooperativa/gesBilling/bin/Debug/Implement.*
Cooperativa/gesBilling/bin/Debug/Model.*
Cooperativa/gesBilling/bin/Debug/service.*
Cooperativa//bin/Debug/UI.*
Cooperativa/gesBilling/bin/Debug/*.cache
Cooperativa/gesBilling/obj/Debug/AppProcesos.*
Cooperativa/gesBilling/obj/Debug/Business.*
Cooperativa/gesBilling/obj/Debug/Controles.*
Cooperativa/gesBilling/obj/Debug/Cooperativa.*
Cooperativa/gesBilling/obj/Debug/FormsAuxiliares.*
Cooperativa/gesBilling/obj/Debug/gesBilling.*
Cooperativa/gesBilling/obj/Debug/gesRoles.*
Cooperativa/gesBilling/obj/Debug/Implement.*
Cooperativa/gesBilling/obj/Debug/Model.*
Cooperativa/gesBilling/obj/Debug/service.*
Cooperativa/gesBilling/obj/Debug/UI.*
Cooperativa/gesBilling/obj/Debug/*.cache
Cooperativa/GesRoles/bin/Debug/AppProcesos.*
Cooperativa/GesRoles/bin/Debug/Business.*
Cooperativa/GesRoles/bin/Debug/Controles.*
Cooperativa/GesRoles/bin/Debug/Cooperativa.*
Cooperativa/GesRoles/bin/Debug/FormsAuxiliares.*
Cooperativa/GesRoles/bin/Debug/gesBilling.*
Cooperativa/GesRoles/bin/Debug/gesRoles.*
Cooperativa/GesRoles/bin/Debug/Implement.*
Cooperativa/GesRoles/bin/Debug/Model.*
Cooperativa/GesRoles/bin/Debug/service.*
Cooperativa/GesRoles/bin/Debug/UI.*
Cooperativa/GesRoles/obj/Debug/*.cache
Cooperativa/GesRoles/obj/Debug/AppProcesos.*
Cooperativa/GesRoles/obj/Debug/Business.*
Cooperativa/GesRoles/obj/Debug/Controles.*
Cooperativa/GesRoles/obj/Debug/Cooperativa.*
Cooperativa/GesRoles/obj/Debug/FormsAuxiliares.*
Cooperativa/GesRoles/obj/Debug/gesBilling.*
Cooperativa/GesRoles/obj/Debug/gesRoles.*
Cooperativa/GesRoles/obj/Debug/Implement.*
Cooperativa/GesRoles/obj/Debug/Model.*
Cooperativa/GesRoles/obj/Debug/service.*
Cooperativa/GesRoles/obj/Debug/UI.*
Cooperativa/GesRoles/obj/Debug/*.cache
Cooperativa/Implement/bin/Debug/AppProcesos.*
Cooperativa/Implement/bin/Debug/Business.*
Cooperativa/Implement/bin/Debug/Controles.*
Cooperativa/Implement/bin/Debug/Cooperativa.*
Cooperativa/Implement/bin/Debug/FormsAuxiliares.*
Cooperativa/Implement/bin/Debug/gesBilling.*
Cooperativa/Implement/bin/Debug/gesRoles.*
Cooperativa/Implement/bin/Debug/Implement.*
Cooperativa/Implement/bin/Debug/Model.*
Cooperativa/Implement/bin/Debug/service.*
Cooperativa/Implement/bin/Debug/UI.*
Cooperativa/Implement/bin/Debug/*.cache
Cooperativa/Implement/obj/Debug/AppProcesos.*
Cooperativa/Implement/obj/Debug/Business.*
Cooperativa/Implement/obj/Debug/Controles.*
Cooperativa/Implement/obj/Debug/Cooperativa.*
Cooperativa/Implement/obj/Debug/FormsAuxiliares.*
Cooperativa/Implement/obj/Debug/gesBilling.*
Cooperativa/Implement/obj/Debug/gesRoles.*
Cooperativa/Implement/obj/Debug/Implement.*
Cooperativa/Implement/obj/Debug/Model.*
Cooperativa/Implement/obj/Debug/service.*
Cooperativa/Implement/obj/Debug/UI.*
Cooperativa/Implement/obj/Debug/*.cache
Cooperativa/Model/bin/Debug/AppProcesos.*
Cooperativa/Model/bin/Debug/Business.*
Cooperativa/Model/bin/Debug/Controles.*
Cooperativa/Model/bin/Debug/Cooperativa.*
Cooperativa/Model/bin/Debug/FormsAuxiliares.*
Cooperativa/Model/bin/Debug/gesBilling.*
Cooperativa/Model/bin/Debug/gesRoles.*
Cooperativa/Model/bin/Debug/Implement.*
Cooperativa/Model/bin/Debug/Model.*
Cooperativa/Model/bin/Debug/service.*
Cooperativa/Model/bin/Debug/UI.*
Cooperativa/Model/bin/Debug/*.cache
Cooperativa/Model/obj/Debug/AppProcesos.*
Cooperativa/Model/obj/Debug/Business.*
Cooperativa/Model/obj/Debug/Controles.*
Cooperativa/Model/obj/Debug/Cooperativa.*
Cooperativa/Model/obj/Debug/FormsAuxiliares.*
Cooperativa/Model/obj/Debug/gesBilling.*
Cooperativa/Model/obj/Debug/gesRoles.*
Cooperativa/Model/obj/Debug/Implement.*
Cooperativa/Model/obj/Debug/Model.*
Cooperativa/Model/obj/Debug/service.*
Cooperativa/Model/obj/Debug/UI.*
Cooperativa/Model/obj/Debug/*.cache
Cooperativa/service/bin/Debug/AppProcesos.*
Cooperativa/service/bin/Debug/Business.*
Cooperativa/service/bin/Debug/Controles.*
Cooperativa/service/bin/Debug/Cooperativa.*
Cooperativa/service/bin/Debug/FormsAuxiliares.*
Cooperativa/service/bin/Debug/gesBilling.*
Cooperativa/service/bin/Debug/gesRoles.*
Cooperativa/service/bin/Debug/Implement.*
Cooperativa/service/bin/Debug/Model.*
Cooperativa/service/bin/Debug/service.*
Cooperativa/service/bin/Debug/UI.*
Cooperativa/service/bin/Debug/*.cache
Cooperativa/service/obj/Debug/AppProcesos.*
Cooperativa/service/obj/Debug/Business.*
Cooperativa/service/obj/Debug/Controles.*
Cooperativa/service/obj/Debug/Cooperativa.*
Cooperativa/service/obj/Debug/FormsAuxiliares.*
Cooperativa/service/obj/Debug/gesBilling.*
Cooperativa/service/obj/Debug/gesRoles.*
Cooperativa/service/obj/Debug/Implement.*
Cooperativa/service/obj/Debug/Model.*
Cooperativa/service/obj/Debug/service.*
Cooperativa/service/obj/Debug/UI.*
Cooperativa/service/obj/Debug/*.cache
Cooperativa/UI/bin/Debug/AppProcesos.*
Cooperativa/UI/bin/Debug/Business.*
Cooperativa/UI/bin/Debug/Controles.*
Cooperativa/UI/bin/Debug/Cooperativa.*
Cooperativa/UI/bin/Debug/FormsAuxiliares.*
Cooperativa/UI/bin/Debug/gesBilling.*
Cooperativa/UI/bin/Debug/gesRoles.*
Cooperativa/UI/bin/Debug/Implement.*
Cooperativa/UI/bin/Debug/Model.*
Cooperativa/UI/bin/Debug/service.*
Cooperativa/UI/bin/Debug/UI.*
Cooperativa/UI/bin/Debug/*.cache
Cooperativa/UI/obj/Debug/AppProcesos.*
Cooperativa/UI/obj/Debug/Business.*
Cooperativa/UI/obj/Debug/Controles.*
Cooperativa/UI/obj/Debug/Cooperativa.*
Cooperativa/UI/obj/Debug/FormsAuxiliares.*
Cooperativa/UI/obj/Debug/gesBilling.*
Cooperativa/UI/obj/Debug/gesRoles.*
Cooperativa/UI/obj/Debug/Implement.*
Cooperativa/UI/obj/Debug/Model.*
Cooperativa/UI/obj/Debug/service.*
Cooperativa/UI/obj/Debug/UI.*
Cooperativa/UI/obj/Debug/*.cache

Cooperativa/Controles/bin/Debug/service.dll
Cooperativa/Controles/bin/Debug/Model.dll
Cooperativa/Controles/bin/Debug/Implement.pdb
Cooperativa/Controles/bin/Debug/Implement.dll
Cooperativa/Controles/bin/Debug/Controles.pdb
Cooperativa/Controles/bin/Debug/Controles.dll
Cooperativa/Controles/bin/Debug/Business.pdb
Cooperativa/Controles/bin/Debug/Business.dll
Cooperativa/Controles/obj/Debug/Controles.dll
Cooperativa/Controles/obj/Debug/Controles.csprojResolveAssemblyReference.cache
Cooperativa/Controles/bin/Debug/Model.pdb
Cooperativa/Business/obj/Debug/*.cache
Cooperativa/gesBilling/obj/Debug/*.cache
Cooperativa/gesBilling/obj/Debug/gesBilling.csproj.GenerateResource.Cache

*.cache
Cooperativa/gesBilling/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Cooperativa/gesBilling/obj/Debug/gesBilling.csproj.GenerateResource.Cache
Cooperativa/.vs/Cooperativa/v15/.suo
*.dll
*.pdb
*.cache
Cooperativa/Business/bin/Debug/Business.dll
Cooperativa/Business/bin/Debug/Business.pdb
Cooperativa/Business/bin/Debug/Implement.dll
Cooperativa/Business/bin/Debug/Implement.pdb
Cooperativa/Business/bin/Debug/Model.dll
Cooperativa/Business/bin/Debug/Model.pdb
Cooperativa/Business/obj/Debug/Business.dll
Cooperativa/Business/obj/Debug/Business.pdb
Cooperativa/Business/obj/x86/Debug/Business.csproj.CopyComplete
Cooperativa/.vs/Cooperativa/v15/sqlite3/storage.ide
Cooperativa/.vs/Cooperativa/v15/sqlite3/storage.ide-shm
Cooperativa/.vs/Cooperativa/v15/sqlite3/storage.ide-wal
Cooperativa/Model/obj/Debug/Model.dll
Cooperativa/Model/obj/Debug/Model.pdb
Cooperativa/service/bin/Debug/Service.dll
Cooperativa/service/bin/Debug/Service.pdb
Cooperativa/service/obj/Debug/Service.dll
Cooperativa/service/obj/Debug/Service.pdb
Cooperativa/.vs/Cooperativa/v15/.suo
